In [26]:
from pandasai import SmartDataframe
from pandasai.connectors import MySQLConnector
import os



mysql_connector = MySQLConnector(
    config={
        "host": os.environ.get('DB_HOST'),
        "port": 3306,
        "database": os.environ.get('DB_NAME'),
        "username": os.environ.get('DB_USER'),
        "password": os.environ.get('DB_PASSWORD'),
        "table": "adminapp_jobapplication",
    }
)


df = SmartDataframe(mysql_connector)
df.chat('What is the total amount of loans in the last year?')

PandasAIApiKeyError: The api_key client option must be set either by passing api_key to the client or by setting the PANDASAI_API_KEY environment variable. To get the key follow below steps:
1. Go to https://www.pandabi.ai and sign up
2. From settings go to API keys and copy
3. Set environment variable like os.environ['PANDASAI_API_KEY'] = '$2a$10$flb7....'

In [27]:

project_name = 'Pandas AI test'
os.environ["LANGCHAIN_TRACING_V2"] = "true"
os.environ["LANGCHAIN_PROJECT"] = f"Tracing Walkthrough - {project_name}"
os.environ["LANGCHAIN_ENDPOINT"] = "https://api.smith.langchain.com"
os.environ["LANGCHAIN_API_KEY"] = os.environ.get('LANGCHAIN_API_KEY')

In [29]:
os.environ["GROQ_API_KEY"] = "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"

In [28]:
from pandasai import SmartDataframe
from langchain_groq import ChatGroq

langchain_llm = ChatGroq(temperature=0, model_name="llama3-70b-8192")

df = SmartDataframe(mysql_connector, config={"llm": langchain_llm})

In [7]:
    df.chat('Shortlist top 3 candidates who applied for job with job_id=23')

     candidate_name  score                       email
3        Zaheer K Z   80.0     zaheer.work24@gmail.com
1  Mohammed Shaneeb   75.0  shaneebkottakkal@gmail.com
5    Rohidh Krishna   75.0      krish.rohidh@gmail.com

In [30]:
df.chat('Shortlist 3 candidates who applied for job with job_id=23 with score more than 80')

Empty DataFrame
Columns: [id, job_id, job_title, candidate_name, score, phone, email, experience, age, resume_link, skills, technologies, score_summary]
Index: []

In [10]:
df.chat('Shortlist candidates who applied for job  who have langchain skill')

Empty DataFrame
Columns: [id, job_id, job_title, candidate_name, score, phone, email, experience, age, resume_link, skills, technologies, score_summary]
Index: []

In [11]:
df.chat('from job_id=19. shortlist top 3 candidates')

{'type': 'dataframe', 'value':    id  job_id                  job_title                   candidate_name  \
7  58      19  React & Next.js Developer                       ABDUL RUBB
1  11      19  React & Next.js Developer                  Thanseeh Yaseen
8  64      19  React & Next.js Developer  M A U S O O F   A B D U L L A H

   score           phone                      email  experience  age  \
7   85.0  +91 7909199591       abdurabb00@gmail.com           3   25
1   75.0      8596744785      yaseenkdr27@gmail.com           1   21
8   75.0  +91 9900710261  mausoofabdullah@gmail.com           3   30

                    resume_link  \
7  https://tinyurl.com/224t9uyd
1  https://tinyurl.com/2dbvs8m7
8  https://tinyurl.com/277mbols

                                              skills  \
7  "[\"Git\", \"PostgreSQL\", \"React Redux\", \"...
1  "[\"Figma\", \"Twilio\", \"Gunicorn\", \"Pytho...
8  "[\"HTML\", \"Adaptability\", \"Redux\", \"Pos...

                                        technologies  \
7  "[\"Multer\", \"Redux\", \"React\", \"Stripe\"...
1  "[\"Tailwind CSS\", \"Twilio\", \"Simple JWT\"...
8  "[\"AWS\", \"mongodb\", \"Firebase\", \"JWT\",...

                                       score_summary
7  The candidate has a strong background in MERN ...
1  The candidate has a solid understanding of fro...
8  The candidate has a good foundation in front-e...  }

,id,job_id,job_title,candidate_name,score,phone,email,experience,age,resume_link,skills,technologies,score_summary
7,58,19,React & Next.js Developer,ABDUL RUBB,85.0,+91 7909199591,abdurabb00@gmail.com,3,25,https://tinyurl.com/224t9uyd,"""[\""Git\"", \""PostgreSQL\"", \""React Redux\"", \""...","""[\""Multer\"", \""Redux\"", \""React\"", \""Stripe\""...",The candidate has a strong background in MERN ...
1,11,19,React & Next.js Developer,Thanseeh Yaseen,75.0,8596744785,yaseenkdr27@gmail.com,1,21,https://tinyurl.com/2dbvs8m7,"""[\""Figma\"", \""Twilio\"", \""Gunicorn\"", \""Pytho...","""[\""Tailwind CSS\"", \""Twilio\"", \""Simple JWT\""...",The candidate has a solid understanding of fro...
8,64,19,React & Next.js Developer,M A U S O O F A B D U L L A H,75.0,+91 9900710261,mausoofabdullah@gmail.com,3,30,https://tinyurl.com/277mbols,"""[\""HTML\"", \""Adaptability\"", \""Redux\"", \""Pos...","""[\""AWS\"", \""mongodb\"", \""Firebase\"", \""JWT\"",...",The candidate has a good foundation in front-e...

In [12]:
df.chat('give me the score summary of abdul rabb')

Traceback (most recent call last):
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/sqlalchemy/engine/base.py", line 1967, in _exec_single_context
    self.dialect.do_execute(
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/sqlalchemy/engine/default.py", line 924, in do_execute
    cursor.execute(statement, parameters)
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/pymysql/cursors.py", line 153, in execute
    result = self._query(query)
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/pymysql/cursors.py", line 322, in _query
    conn.query(q)
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/pymysql/connections.py", line 563, in query
    self._affected_rows = self._read_query_result(unbuffered=unbuffered)
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/pymysql/connections.py", line 825, in _read_query_result
    result.read()
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/pymysql/connections.py", line 1199, in read
    first_packet = self.connection._read_packet()
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/pymysql/connections.py", line 775, in _read_packet
    packet.raise_for_error()
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/pymysql/protocol.py", line 219, in raise_for_error
    err.raise_mysql_exception(self._data)
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/pymysql/err.py", line 150, in raise_mysql_exception
    raise errorclass(errno, errval)
pymysql.err.OperationalError: (1054, "Unknown column 'value' in 'where clause'")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/pandasai/pipelines/chat/generate_chat_pipeline.py", line 307, in run
    output = (self.code_generation_pipeline | self.code_execution_pipeline).run(
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/pandasai/pipelines/pipeline.py", line 137, in run
    raise e
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/pandasai/pipelines/pipeline.py", line 101, in run
    step_output = logic.execute(
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/pandasai/pipelines/chat/code_execution.py", line 113, in execute
    raise e
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/pandasai/pipelines/chat/code_execution.py", line 85, in execute
    result = self.execute_code(code_to_run, code_context)
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/pandasai/pipelines/chat/code_execution.py", line 157, in execute_code
    environment["dfs"] = self._get_originals(dfs)
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/pandasai/pipelines/chat/code_execution.py", line 225, in _get_originals
    df.execute()
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/pandasai/connectors/sql.py", line 304, in execute
    result = pd.read_sql(query, self._connection)
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/pandas/io/sql.py", line 590, in read_sql
    return pandas_sql.read_query(
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/pandas/io/sql.py", line 1560, in read_query
    result = self.execute(*args)
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/pandas/io/sql.py", line 1405, in execute
    return self.connectable.execution_options().execute(*args, **kwargs)
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/sqlalchemy/engine/base.py", line 1418, in execute
    return meth(
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/sqlalchemy/sql/elements.py", line 515, in _execute_on_connection
    return connection._execute_clauseelement(
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/sqlalchemy/engine/base.py", line 1640, in _execute_clauseelement
    ret = self._execute_context(
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/sqlalchemy/engine/base.py", line 1846, in _execute_context
    return self._exec_single_context(
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/sqlalchemy/engine/base.py", line 1986, in _exec_single_context
    self._handle_dbapi_exception(
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/sqlalchemy/engine/base.py", line 2353, in _handle_dbapi_exception
    raise sqlalchemy_exception.with_traceback(exc_info[2]) from e
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/sqlalchemy/engine/base.py", line 1967, in _exec_single_context
    self.dialect.do_execute(
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/sqlalchemy/engine/default.py", line 924, in do_execute
    cursor.execute(statement, parameters)
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/pymysql/cursors.py", line 153, in execute
    result = self._query(query)
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/pymysql/cursors.py", line 322, in _query
    conn.query(q)
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/pymysql/connections.py", line 563, in query
    self._affected_rows = self._read_query_result(unbuffered=unbuffered)
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/pymysql/connections.py", line 825, in _read_query_result
    result.read()
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/pymysql/connections.py", line 1199, in read
    first_packet = self.connection._read_packet()
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/pymysql/connections.py", line 775, in _read_packet
    packet.raise_for_error()
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/pymysql/protocol.py", line 219, in raise_for_error
    err.raise_mysql_exception(self._data)
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/pymysql/err.py", line 150, in raise_mysql_exception
    raise errorclass(errno, errval)
sqlalchemy.exc.OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'value' in 'where clause'")
[SQL: SELECT *
FROM adminapp_jobapplication
WHERE value = %(value_0)s AND candidate_name = %(value_1)s]
[parameters: {'value_0': '', 'value_1': 'Abdul Rabb'}]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

'Unfortunately, I was not able to answer your question, because of the following error:\n\n(pymysql.err.OperationalError) (1054, "Unknown column \'value\' in \'where clause\'")\n[SQL: SELECT * \nFROM adminapp_jobapplication \nWHERE value = %(value_0)s AND candidate_name = %(value_1)s]\n[parameters: {\'value_0\': \'\', \'value_1\': \'Abdul Rabb\'}]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)\n'

In [15]:
df.chat('from job_id=23 . Shortlist top 3 candidates ')

Empty DataFrame
Columns: [candidate_name, score, skills]
Index: []

In [16]:
df.chat('from job_id=18 . Shortlist top 3 candidates ')

,id,job_id,job_title,candidate_name,score,phone,email,experience,age,resume_link,skills,technologies,score_summary
1,17,18,MLOPS,Zaheer K Z,85.0,9658741232,zaheer.work24@gmail.com,5,23,https://tinyurl.com/2aezpg6v,"""[\""Generative AI\"", \""TensorFlow\"", \""Kaggle\...","""[\""MLOps\"", \""Streamlit\"", \""YOLO models\"", \...","Overall, this is a strong resume for a machine..."
4,31,18,MLOPS,Rohidh Krishna,85.0,+91 9947730369,krish.rohidh@gmail.com,2,22,https://tinyurl.com/2caqpoe9,"""[\""Linux Bash\"", \""Write Technical Articles\""...","""[\""Django\"", \""TensorFlow\"", \""PyTorch\"", \""A...","Overall, the candidate has a strong background..."
5,37,18,MLOPS,ALEXANDER OWENS,85.0,(123) 456-7890,alex.owens@email.com,3,30,https://tinyurl.com/22vwmlnl,"""[\""Apache Spark\"", \""Informatica\"", \""NLTK (N...","""[\""NLTK\"", \""Apache Spark\"", \""Informatica\"",...",Alexander Owens is a highly qualified data sci...

In [17]:
df.chat('from job_id=23 . Shortlist top 3 candidates ')

{'type': 'dataframe', 'value': Empty DataFrame
Columns: [id, job_id, job_title, candidate_name, score, phone, email, experience, age, resume_link, skills, technologies, score_summary]
Index: []}

Empty DataFrame
Columns: [id, job_id, job_title, candidate_name, score, phone, email, experience, age, resume_link, skills, technologies, score_summary]
Index: []

In [18]:
df.chat('from job_id=14 . Shortlist top 3 candidates ')

{'type': 'dataframe', 'value': Empty DataFrame
Columns: [id, job_id, job_title, candidate_name, score, phone, email, experience, age, resume_link, skills, technologies, score_summary]
Index: []}

Empty DataFrame
Columns: [id, job_id, job_title, candidate_name, score, phone, email, experience, age, resume_link, skills, technologies, score_summary]
Index: []

In [19]:
df.chat('Shortlist top 3 candidates who applied for job with job_id=14')

   candidate_name  score                        email           phone
4  Rohidh Krishna   85.0       krish.rohidh@gmail.com  +91 9947730369
6  Daniel Trevino   85.0  shaneebunofficail@gmail.com  (123) 456-7890
7      ABDUL RUBB   85.0         abdurabb00@gmail.com  +91 7909199591

In [20]:
df.chat('from job_id=14 . Shortlist top 3 candidates ')

   candidate_name  score                        email           phone
4  Rohidh Krishna   85.0       krish.rohidh@gmail.com  +91 9947730369
6  Daniel Trevino   85.0  shaneebunofficail@gmail.com  (123) 456-7890
7      ABDUL RUBB   85.0         abdurabb00@gmail.com  +91 7909199591

In [21]:
df.chat('from job_id=23 . Shortlist top 3 candidates ')

Empty DataFrame
Columns: [candidate_name, score, email, phone]
Index: []

In [33]:
df.chat('from job_id=20 . Shortlist top 3 candidates ')

Traceback (most recent call last):
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/pandasai/pipelines/chat/generate_chat_pipeline.py", line 307, in run
    output = (self.code_generation_pipeline | self.code_execution_pipeline).run(
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/pandasai/pipelines/pipeline.py", line 137, in run
    raise e
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/pandasai/pipelines/pipeline.py", line 101, in run
    step_output = logic.execute(
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/pandasai/pipelines/chat/code_execution.py", line 113, in execute
    raise e
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/pandasai/pipelines/chat/code_execution.py", line 85, in execute
    result = self.execute_code(code_to_run, code_context)
  File "/home/mohammed_shaneeb/anaconda3/envs/hireai/lib/python3.10/site-packages/pandasai/pipelines/chat/code_execution.py", line 171, in execute_code
    exec(code, environment)
  File "<string>", line 1, in <module>
NameError: name 'adminapp_jobapplication' is not defined

"Unfortunately, I was not able to answer your question, because of the following error:\n\nname 'adminapp_jobapplication' is not defined\n"

In [23]:
df.chat('Shortlist top 3 candidates who applied for job with job_id=20')

     candidate_name  score                        email           phone
7       KATHY JAMES   75.0  shaneebunofficail@gmail.com  (123) 456-7890
1   Thanseeh Yaseen   70.0        yaseenkdr27@gmail.com      8596744785
3  AL AAJ DIYOUF KV   70.0          diyoufkv7@gmail.com  +91 8590629210

In [32]:
df.chat('How many are applied for job_id=20')

8